/* top of the page*/
body
{
    font-family: "segoe ui light";
}
nav
{
    background-color: rgba(0,0,0,0.5);
     overflow: hidden;
}
.logo
{
    float: left;
}
.logo img 
{
    width: 120px; 
    height: 70px;
    padding: 10px 20px; 
}

nav ul 
{
    list-style: none;
    overflow: hidden;
    margin-right: 30px;
   
}
nav ul li 
{
    float: right; 
    padding: 10px 20px ; 
}
nav ul li a 
{ 
    text-decoration: none; 
    color: firebrick;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover
{
    color: white; 
    transition: 1s;
    margin-right: 5px;
}

/* end nav */ 



.flod 
{
    background-image: url(image/Food-Images-Free-Download.jpg); 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 600px; 
    
}

/* section */ 

.tot
{
    overflow: hidden;
    background-color: black; 
}
.tot header h2
{
    color: firebrick; 
    text-align: center; 
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.tot header p
{
    font-size: 25px; 
    text-align: center; 
    font-family: 'Lobster', cursive;
    color: firebrick
}

.col
{
   float: left; 
   width: 30%; 
   text-align: center;
   color: firebrick;
   margin: 15px;
   background-color: white;
   border-radius: 50px;
}
.col button 
{
    margin-bottom: 10px; 
    padding: 15px; 
    border-radius: 20px; 
    border: none ; 
    background-color: firebrick; 
    color: white; 
    cursor: pointer; 
    
}
.col button:hover 
{
    background-color: black; 
    transition: 1s; 
}



.col img 
{
   width: 100%; 
   height: 500px;
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px;
}


/* new new */ 


.new 
{
    height: 400px; 
    background-image: url(image/1e6f0a48ad1168accfd7898e4e4cb9f2.jpg);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center; 
    overflow: hidden;
}

.styleforhead
{
    text-align: center; 
    color: firebrick; 
    font-size: 50px; 
    font-weight: bold; 
    font-family: 'Lobster', cursive;
    margin: 150px auto; 
}


/* start footer*/ 


footer 
{
    overflow: hidden;
    background-color: white; 
    color: firebrick;
   
    
}

footer h4
{
     font-family: 'Lobster', cursive;
     font-size: 20px; 
}


.newcol
{
    float: left; 
    width: 23%; 
    margin: 10px;
}
.newcol img 
{
    width: 100%; 
    height: 200px;
    border-top-left-radius: 50%; 
    border-bottom-right-radius: 50%; 
    
}



.newEdit
{
    height: 50px;
    background-color: #09c;
    color: wheat;
    text-align: center;
    margin-bottom: 20px;
}
.newEdit h4
{
    font-size: 24px;
}